html{
    scroll-behavior: smooth;
}

code, samp, pre {
    font-family: 'Inconsolata', monospace;
}

kbd {
    font-family: 'Libertinus Keyboard', monospace;
}

.katex {
    font-size: 100%;
}

.katex-display > .katex {
    font-size: 1.21em;
}

.pagecard_desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-height: 4rem;
}

@media (min-width: 320px) {
    .pagecard_desc {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .pagecard_desc {
        max-width: 60%;
    }
}

.force-center {
    margin-left: auto !important;
    margin-right: auto !important;
}


.sans {
    font-family: 'Libertinus Sans', sans-serif;
}

.tttext {
    font-family: 'Inconsolata', monospace !important;
}

.ttinput input {
    font-family: 'Inconsolata', monospace !important;
}

.smalltxt {
    font-size: 0.9em;
}

.grammar {
    display: flex;
    flex-direction: column;
}

.grammar > .productions {
    display: flex;
}

.var {
    font-family: 'Libertinus Serif', serif;
    font-weight: bold;
}

.rules {
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}

.rules > span {
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: .3rem;
    border-left-style: solid;
    border-left-width: .15rem;
}

.rules > span:first-child {
    border-left-style: none;
}

.productions > *:first-child {
}

.productions > .var::after {
    content: '::=';
    padding-left: .5rem;
}
